<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit Post</div>
    <form action="/blogs/<%= post._id %>?_method=PUT" method="post" class="ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title" value="<%= post.title %>" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image" value="<%= post.image %>" required>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" cols="30" rows="10" required><%= post.body %></textarea>
        </div>
        <input type="submit" value="Submit" class="ui big basic button green">
    </form>
</div>

<%- include("partials/footer") %>