<%- include("partials/header") %>

<h1 class="mt-5"><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="Image of the <%=campground.name %> campground" style="width: 50rem;">

<p><%= campground.description %></p>

<%- include("partials/footer") %>